Babel==2.13.1
Bottleneck==1.3.7
Brotli==1.0.9
Cartopy==0.22.0
ConfigArgParse==1.7
Cython==3.0.5
Deprecated==1.2.13
Farama-Notifications==0.0.4
GDAL==3.7.3
GPy==1.13.1
GitPython==3.1.40
Jinja2==3.1.2
Mako==1.3.0
Markdown==3.5.1
MarkupSafe==2.1.3
OWSLib==0.29.3
Pillow==10.1.0
PyJWT==2.8.0
PySocks==1.7.1
PyWavelets==1.4.1
PyYAML==6.0.1
Rtree==1.1.0
SQLAlchemy==2.0.23
Send2Trash==1.8.2
Wand==0.6.10
Wikipedia-API==0.6.0
XlsxWriter==3.1.9
absl-py==2.0.0
adagio==0.2.4
aenum==3.1.5
affine==2.4.0
aiohttp==3.9.0
aiosignal==1.3.1
alembic==1.12.1
antlr4-python3-runtime==4.11.1
anyio==4.0.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
arviz==0.16.1
astor==0.8.1
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.1.0
audioread==3.0.1
autograd==1.6.2
autograd-gamma==0.5.0
beautifulsoup4==4.12.2
bleach==6.1.0
blinker==1.7.0
bokeh==3.3.1
bolt-python==0.7.1
boltons==24.0.0
boto3==1.34.82
botocore==1.34.82
branca==0.7.0
brotlicffi==1.1.0.0
cached-property==1.5.2
cachetools==5.3.2
catboost==1.2.2
certifi==2024.2.2
cffi==1.15.1
cftime==1.6.2
chardet==5.2.0
charset-normalizer==3.1.0
check-shapes==1.1.1
clarabel==0.6.0
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
clikit==0.6.2
cloudpickle==3.0.0
colorama==0.4.6
colorcet==3.1.0
colorlog==6.7.0
comm==0.1.4
conda==23.7.4
conda-package-handling==2.2.0
conda-package-streaming==0.9.0
contourpy==1.2.0
coverage==7.2.2
cryptography==41.0.1
cvxopt==0.0.0
cvxpy==1.4.1
cycler==0.12.1
cytoolz==0.12.2
dask==2023.11.0
dataclasses==0.8
dataclasses-json==0.5.7
datasets==2.14.7
datashader==0.16.0
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
descartes==1.1.0
detoxify==0.5.2
dill==0.3.7
distributed==2023.11.0
distro==1.9.0
dm-tree==0.1.7
dropstackframe==0.1.0
ecos==2.0.11
einops==0.7.0
entrypoints==0.4
eo-learn==0.10.1
eo-learn-core==1.4.2
eo-learn-coregistration==1.4.2
eo-learn-features==1.4.2
eo-learn-geometry==0.10.1
eo-learn-io==0.10.0
eo-learn-mask==1.4.2
eo-learn-ml-tools==1.4.2
eo-learn-visualization==1.3.1
et-xmlfile==1.1.0
exceptiongroup==1.2.0
executing==2.0.1
fastjsonschema==2.19.0
feather-format==0.4.1
filelock==3.13.1
fiona==1.9.5
flatbuffers==23.5.26
folium==0.15.0
fonttools==4.45.1
formulaic==0.6.6
fqdn==1.5.1
frozenlist==1.4.0
fs==2.4.16
fs-s3fs==1.1.1
fsspec==2023.10.0
fugue==0.8.7
fugue-sql-antlr==0.1.8
fusets==2.0.1
future==0.18.3
gast==0.5.4
gensim==4.3.2
geographiclib==1.52
geopandas==0.14.1
geoplotlib==0.3.2
geopy==2.4.0
geoviews==1.11.1
gitdb==4.0.11
gmpy2==2.1.2
google-auth==2.23.4
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
google-takeout-email==0.0.5
gpflow==2.9.1
graphlib-backport==1.0.3
graphviz==0.20.1
greenlet==3.0.1
grpcio==1.54.3
gymnasium==0.28.1
h11==0.14.0
h5netcdf==1.3.0
h5py==3.10.0
holoviews==1.18.3
httpcore==1.0.2
httpstan==4.6.1
httpx==0.26.0
huggingface-hub==0.17.3
hvplot==0.9.2
idna==3.4
igraph==0.11.3
imagecodecs-lite==2019.12.3
imageio==2.31.5
imbalanced-learn==0.11.0
imgaug==0.4.0
importlib-metadata==6.8.0
importlib-resources==6.1.1
inflate64==1.0.0
infomap==2.7.1
iniconfig==1.1.1
interface-meta==1.3.0
ipykernel==6.26.0
ipyleaflet==0.17.4
ipympl==0.9.3
ipyparallel==8.6.1
ipython==8.17.2
ipython-genutils==0.2.0
ipywidgets==8.1.1
isoduration==20.11.0
jax==0.4.16
jax-jumpy==1.0.0
jaxlib==0.4.16.dev20231019
jedi==0.19.1
jmespath==1.0.1
joblib==1.3.2
json5==0.9.14
jsonpatch==1.33
jsonpickle==3.0.2
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
jupyter-client==8.6.0
jupyter-core==5.5.0
jupyter-events==0.9.0
jupyter-lsp==2.2.0
jupyter-server==2.10.1
jupyter-server-mathjax==0.2.6
jupyter-server-terminals==0.4.4
jupyterlab==4.0.9
jupyterlab-git==0.50.0
jupyterlab-pygments==0.3.0
jupyterlab-server==2.25.2
jupyterlab-widgets==3.0.9
kaleido==0.2.1
keras==2.14.0
kiwisolver==1.4.5
lark==1.1.9
lazy-loader==0.3
lcmap-pyccd==2021.7.19
libmambapy==1.5.1
librosa==0.10.1
lifelines==0.27.8
lightgbm==4.1.0
linkify-it-py==2.0.0
liwc==0.5.0
llvmlite==0.41.1
locket==1.0.0
lxml==4.9.3
lz4==4.3.2
mamba==1.5.1
mapclassify==2.6.1
markdown-it-py==2.2.0
marshmallow==3.20.1
marshmallow-enum==1.5.1
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.0
mdurl==0.1.0
metakernel==0.30.1
missingno==0.4.2
mistune==3.0.2
ml-dtypes==0.2.0
mlxtend==0.23.0
mpmath==1.3.0
msgpack==1.0.6
multidict==6.0.4
multipledispatch==0.6.0
multiprocess==0.70.15
multivolumefile==0.2.3
munch==4.0.0
munkres==1.1.4
mypy-extensions==1.0.0
mypy-protobuf==3.3.0
nbclient==0.8.0
nbconvert==7.11.0
nbdime==4.0.1
nbformat==5.9.2
nbval==0.11.0
nest-asyncio==1.5.8
netCDF4==1.6.5
networkx==3.2.1
nibabel==5.1.0
niimpy==1.2.1
nilearn==0.10.2
nltk==3.8.1
nose==1.3.7
notebook-shim==0.2.3
numba==0.58.1
numexpr==2.8.7
numpy==1.23.5
oauthlib==3.2.2
openai==1.25.0
opencv-python==4.8.1
openeo==0.28.0
openpyxl==3.1.2
opt-einsum==3.3.0
optuna==3.4.0
ortools==9.6.9999
osqp==0.6.3
overrides==7.4.0
packaging==23.2
pandas==2.2.3
pandas-datareader==0.10.0
pandocfilters==1.5.0
panel==1.3.8
param==2.1.0
paramz==0.9.6
parso==0.8.3
partd==1.4.1
pastel==0.2.1
patsy==0.5.3
pbr==6.0.0
pdfminer.six==20221105
pdfplumber==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
pip==23.1.2
pkgutil-resolve-name==1.3.10
platformdirs==4.0.0
plotly==5.18.0
pluggy==1.2.0
ply==3.11
pmdarima==2.0.4
polars==0.19.15
pooch==1.8.0
portalocker==2.8.2
prometheus-client==0.19.0
prompt-toolkit==3.0.41
protobuf==4.21.12
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py7zr==0.20.8
pyOpenSSL==23.2.0
py-cpuinfo==9.0.0
pyaml==23.9.7
pyarrow==12.0.1
pyarrow-hotfix==0.6
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybcj==1.0.2
pycosat==0.6.4
pycox==0.2.3
pycparser==2.21
pycryptodomex==3.19.0
pyct==0.5.0
pydantic==1.10.12
pydot==1.4.1
pydotplus==2.0.2
pydub==0.25.1
pyepsg==0.4.0
pyglet==1.5.16
pygments==2.17.2
pylev==1.4.0
pyodbc==5.0.1
pyparsing==3.1.1
pyppmd==1.0.0
pyproj==3.6.1
pyshp==2.3.1
pysimdjson==5.0.2
pystan==3.7.0
pytest==7.4.0
python-dateutil==2.8.2
python-json-logger==2.0.7
pytz==2023.3.post1
pyu2f==0.1.5
pyviz-comms==3.0.2
pyzmq==25.1.1
pyzstd==0.15.9
qdldl==0.1.5.post2
qiskit==1.0.2
qiskit-aer==0.14.1
qpd==0.4.4
rasterio==1.3.9
referencing==0.31.0
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.13.1
rsa==4.9
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.7
rustworkx==0.14.2
s2cloudless==1.5.0
s3transfer==0.10.1
sacremoses==0.0.53
safetensors==0.3.3
scikit-image==0.20.0
scikit-learn==1.3.2
scikit-optimize==0.9.0
scikit-plot==0.3.7
scikit-survival==0.22.1
scipy==1.11.3
scs==3.2.3
seaborn==0.13.0
sentencepiece==0.2.0
sentinelhub==3.4.4
setuptools==68.0.0
shapely==2.0.2
six==1.16.0
sklearn-pandas==2.2.0
smart-open==6.4.0
smmap==5.0.0
sniffio==1.3.0
snuggs==1.4.7
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
soxr==0.3.7
spectrum==0.8.1
sqlglot==19.6.0
stack-data==0.6.2
statsforecast==1.6.0
statsmodels==0.14.0
stevedore==5.1.0
symengine==0.11.0
sympy==1.12
tables==3.9.1
tabulate==0.9.0
tblib==2.0.0
tenacity==8.2.3
tensorboard==2.14.1
tensorboard-data-server==0.7.0
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-hub==0.14.0
tensorflow-probability==0.22.1
termcolor==2.3.0
terminado==0.18.0
texttable==1.7.0
threadpoolctl==3.2.0
thunder-python==1.4.2
thunder-registration==1.0.1
tifffile==2020.6.3
tinycss2==1.2.1
tokenizers==0.14.1
tomli==2.0.1
toolz==0.12.0
torch==2.1.1
torchaudio==2.1.1
torchdata==0.7.1
torchtext==0.16.1
torchtuples==0.2.2
torchvision==0.16.1
tornado==6.3.3
tqdm==4.65.0
traitlets==5.13.0
traittypes==0.2.1
transformers==4.35.2
triad==0.9.3
tweepy==4.14.0
types-futures==3.3.8
types-protobuf==4.24.0.4
types-python-dateutil==2.8.19.14
typing-extensions==4.8.0
typing-inspect==0.9.0
typing-utils==0.1.0
tzdata==2023.3
uc-micro-py==1.0.1
unicodedata2==15.1.0
uri-template==1.3.0
urllib3==2.0.3
utm==0.7.0
vaderSentiment==3.3.2
vam.whittaker==2.0.2
wcwidth==0.2.12
webargs==8.3.0
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.4
werkzeug==3.0.1
wheel==0.40.0
widgetsnbextension==4.0.9
wordcloud==1.9.2
wrapt==1.14.1
xarray==2023.11.0
xarray-einstats==0.6.0
xgboost==1.7.6
xlrd==2.0.1
xlwt==1.3.0
xxhash==3.4.1
xyzservices==2023.10.1
yarl==1.9.2
zict==3.0.0
zipfile-deflate64==0.0.0
zipp==3.17.0
zstandard==0.22.0
boto==2.49.0
